.container {
    height: 80vh;
    width: 80vw;
}

.slot {
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 40vh;
    left: 40vw;
}

.group {
    height: 40vh;
    width: 40vw;
    position: absolute;
    top: 30vh;
    left: 30vw;
}

.gear {
    height: 80vh;
    width: 80vw;
    position: absolute;
    top: 10vh;
    left: 10vw;
}
